<!-- 					 -->
<!-- CONTENT			 -->
<!-- 					 -->

<div class = "container">

	<!-- 					 -->
	<!-- HEADING			 -->
	<!-- 					 -->

	<div class = "text-center">
		<h1><b>Query</b></h1>
	</div>

	<!-- 					 -->
	<!-- BREAK				 -->
	<!-- 					 -->

	<br>
	<br>

	<!-- 					 -->
	<!-- CALENDAR			 -->
	<!-- 					 -->

	<div class = "text-center">
		<mat-card (click) = "queryDate()">
			<mat-card-content>
				<mat-calendar [(selected)] = "activeDate"></mat-calendar>
			</mat-card-content>
		</mat-card>
	</div>

</div>
