
<!-- 					 -->
<!-- NAVIGATION			 -->
<!-- 					 -->

<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
	<div class = "container-fluid">

		<!-- 					 -->
		<!-- HOMEPAGE			 -->
		<!-- 					 -->

		<a class = "navbar-brand" href = "/">Home</a>

		<!-- 					 -->
		<!-- COLLAPSE NAVIGATION -->
		<!-- 					 -->

		<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
			<ul class = "navbar-nav me-auto mb-2 mb-lg-0">

				<!-- 					 -->
				<!-- HOLIDAYS			 -->
				<!-- 					 -->

				<li class = "nav-item">
					<a class = "nav-link active" href = "/date_holiday">Holiday</a>
				</li>

				<!-- 					 -->
				<!-- QUERY				 -->
				<!-- 					 -->

				<li class = "nav-item">
					<a class = "nav-link active" href = "/date">Query</a>
				</li>

			</ul>
		</div>

	</div>
</nav>

<!-- 					 -->
<!-- LINE BREAK			 -->
<!-- 					 -->

<br>
<br>

<!-- 					 -->
<!-- CONTENT			 -->
<!-- 					 -->

<router-outlet/>
