<!DOCTYPE html>

<html lang = "en">

	<!-- 					 -->
	<!-- HEAD				 -->
	<!-- 					 -->

	<head>

		<!-- 					 -->
		<!-- METADATA			 -->
		<!-- 					 -->

		<meta charset = "UTF-8">
		<meta name = "author"      content = "Uroš Polanc">
		<meta name = "description" content = "Simple REST API">
		<meta name = "viewport"    content = "width = device-width, initial-scale = 1.0">

		<!-- 					 -->
		<!-- TITLE				 -->
		<!-- 					 -->

		<title>Project Plinovodi</title>

		<!-- 					 -->
		<!-- LIBRARIES			 -->
		<!-- 					 -->

		<link type = "text/css" rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

		<!-- 					 -->
		<!-- SCRIPTS			 -->
		<!-- 					 -->

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				var dateObject = new Date();
				var dateString = dateObject.toISOString().split('T')[0]

				document.getElementById("query-link").href = "/date/" + dateString;
			});
		</script>

	</head>

	<!-- 					 -->
	<!-- BODY	 			 -->
	<!-- 					 -->

	<body>

		<!-- 					 -->
		<!-- NAVIGATION			 -->
		<!-- 					 -->

		<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
			<div class = "container-fluid">

				<!-- 					 -->
				<!-- HOMEPAGE			 -->
				<!-- 					 -->

				<a class = "navbar-brand" href = "/">Home</a>

				<!-- 					 -->
				<!-- NAVIGATION ITEMS	 -->
				<!-- 					 -->

				<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
					<ul class = "navbar-nav me-auto mb-2 mb-lg-0">

						<!-- 					 -->
						<!-- DATE				 -->
						<!-- 					 -->

						<li class = "nav-item">
							<a class = "nav-link active" href = "/date" id = "query-link">Date</a>
						</li>

						<!-- 					 -->
						<!-- DATE - HOLIDAY		 -->
						<!-- 					 -->

						<li class = "nav-item">
							<a class = "nav-link active" href = "/date/holiday">Date-Holidays</a>
						</li>

						<!-- 					 -->
						<!-- USER				 -->
						<!-- 					 -->

						<li class = "nav-item">
							<a class = "nav-link active" href = "/user">User-Hour</a>
						</li>

						<!-- 					 -->
						<!-- USER - REPORT		 -->
						<!-- 					 -->

						<li class = "nav-item">
							<a class = "nav-link active" href = "/user/report">User-Report</a>
						</li>

						<!-- 					 -->
						<!-- USER - INTERVENTION -->
						<!-- 					 -->

						<li class = "nav-item">
							<a class = "nav-link active" href = "/user/intervention">User-Intervention</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>

		<!-- 					 -->
		<!-- LINE BREAK			 -->
		<!-- 					 -->

		<br>
		<br>

		<!-- 					 -->
		<!-- CONTENT			 -->
		<!-- 					 -->

		<div class = "container text-center">
			<h2>Welcome to the home page.</h2>
		</div>

	</body>

</html>
